doctype html
html
    head
        title Home - Documents
        include header.jade
body
    .container
        .row
            include navbar.jade
            ul.list-group
                li.list-group-item
                    span.badge 14
                    | Holerites
                li.list-group-item
                    span.badge 2
                    | Outros


    include footer.jade
